[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djongo = "*"
djangorestframework = "*"
django-rest-framework-mongoengine = "*"
bs4 = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
requests = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.8"
