[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djongo = "*"
djangorestframework = "*"
django-rest-framework-mongoengine = "*"
bs4 = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
requests = "*"
autopep8 = "*"
vulture = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
