{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	
	<!-- CSS Files -->
	<link href="/static/assets/css/material-kit.css?v=2.0.7" rel="stylesheet"/>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	
	<title>MLOPs</title>
	
	{% block extrahead %} {% endblock extrahead %}
</head>

<body>
	<header>
		{% include 'includes/navigation.html' %}

	</header>
	<div class="main">
	<div class="container">
		<div class="section py-2 text-center">
			<p class="h2 title">MLOps</p>
		</div>
		<div class="pb-3">
			{% block content %}{% endblock content %}
		</div>
		
	</div>
	</div>


	{% comment %} <div class="main">
		{% block content %}{% endblock %}
	</div> {% endcomment %}
	
	{% include 'includes/footer.html' %}
	
	{% include 'includes/scripts.html' %}
	
	{% block extrabody %}{% endblock extrabody %}
</body>

</html>