{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
Everything is in order! Your columns go as follows: </p>
{%for col in categs%}
<li>{{col}} 
</li>
{%endfor%}

{% if num == 0 %}
<p> After checking your dataset, there is no missing values. 
<button type='submit' value="Submit" class = 'btn' onclick="location.href = '{% url 'correlation' %}'">Next</button>

{% else %}

<br>There are {{num}} missing values. They go as follows:
{% for key, value in dic.items%} 
    {% if value > 0%}
    <li>{{key}} - {{value}}</li>
    {% endif%}
{% endfor %}


<form action='{%url 'clean'%}' method='POST'>
    {% csrf_token %}
    {{ form.as_p }}

    <button type='submit' name='btn' id='btn' class='btn'>Submit</button>
    {% comment %} onclick="location.href = '{% url 'clean' %}" {% endcomment %}
</form>

{% endif %}
{% endblock %}