{% extends 'base.html' %} 
{% load static %}

{% block content %}
	<p class="h3"><b>{{num}}</b> lines were taken care of. Your dataset is now clean.<br>
	Here are the correlations of the features with the {{target}}, select the ones you want to drop.</p>
	<h6 class="title">It is advised to drop the ones closest to 0, but you can keep them or drop other features if desired.</h6>

	<form action ="{% url 'cleancontinued' %}" method = "POST">
		{% csrf_token %}
		{{ form.as_p }}
		<p> Click the Next button to move on to the next phase "Transformation" </p>
		<button type='submit' name='btn' id='btn' class='btn btn-primary' >Next</button>
	</form>
{% endblock %}