{% extends 'base.html' %} 
{% load static %} {% block content %}

<p> {{num}} lines were dropped. Your dataset is now clean</p>
Here are the correlations of the features with the {{target}}, select the ones you want to drop. <br>
We only displayed the ones below 5% but you can keep them.</p>
<form action = '{%url 'correlation'%}' method = "post">
{% csrf_token %}
{% comment %} {{form.as_p}} {% endcomment %}
{{ form.as_p }}
{% comment %} {% for key, value in corr.items%} 
    {%if key != target and value < 0.05%}
    <input type = 'checkbox' name = "dropitems" value="">{{key}} 
    - {{value|floatformat:4}} <br>
    {%endif%}
{% endfor %}  {% endcomment %}
<p> We will now be performing PCA that stands for Principal Component Analysis. PCA is <br>
 a Dimension Reduction Technique that will help us reduce our number of features <br>
by merging some of them into one component based on their co-variance. <br>
For more information, click <a href = "https://towardsdatascience.com/a-one-stop-shop-for-principal-component-analysis-5582fb7e0a9c" target="_blank"> here </a>
</p>

<p> Click the Next button to move on to the next phase "Transformation" </p>
<button type='submit' name='btn' id='btn' class='btn' >Next</button>
</form>
{% endblock %}