{% extends 'base.html' %} 
{% load static %} {% block content %}

<p> {{num}} lines were taken care of. Your dataset is now clean</p>
Here are the correlations of the features with the {{target}}, select the ones you want to drop. <br>
It is advised to drop the ones closest to 0, but you can keep them or drop other features if desired.</p>
<form action = '{%url 'cleancontinued'%}' method = "POST">
{% csrf_token %}
{{ form.as_p }}
{% comment %} {% for key, value in corr.items%} 
    {%if key != target and value < 0.05%}
    <input type = 'checkbox' name = "dropitems" value="">{{key}} 
    - {{value|floatformat:4}} <br>
    {%endif%}
{% endfor %}  {% endcomment %}

<p> Click the Next button to move on to the next phase "Transformation" </p>
<button type='submit' name='btn' id='btn' class='btn' >Next</button>
</form>
{% endblock %}