{% extends 'base.html' %} 
{% load static %} 

{% block content %}
    <img src={% static 'images/foo.png' %} class="center" alt="Principal Component Analysis">
    <br>
    <p>We will now be performing PCA that stands for Principal Component Analysis. PCA is a Dimension Reduction Technique that will help us reduce our number of features by merging some of them into one component based on their co-variance.
    For more information, click <a href="https://towardsdatascience.com/a-one-stop-shop-for-principal-component-analysis-5582fb7e0a9c" target="_blank">here</a>
    </p>
    <button type='submit' class='btn btn-primary' onclick="location.href = '{% url 'modelling' %}'">Train model</button>
{% endblock %}