{% extends 'base.html' %} 
{% load static %} 

{% block content %} 


{{message}} <br><br>
The chosen model is: <b>{{ chosen }}</b> and records an accuracy of <b>{{acc | floatformat:4}}%</b>

<br><br>
You can now download in the following links all your files:
{% comment %} <a href="{% url {{conf}} %}" download>Config File</a> {% endcomment %}
<a href="{{conf}}" download>Config File</a>
<a href="{{cleaned}}" download>Fully Cleaned CSV</a>
<a href="{{trans}}" download>Transformed CSV</a>



{% endblock %}